@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom body style */
@layer base {
  body {
    @apply bg-cyber-black text-cyber-text;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #1e293b 1px, transparent 1px), linear-gradient(to bottom, #1e293b 1px, transparent 1px);
  }
}